<!-- https://codepen.io/j_holtslander/pen/MzNPbP?css-preprocessor=scss -->
<div class="container">
  <div class="row">
    <div class="alert card red lighten-4 red-text text-darken-4">
      <div class="card-content">
        <p>
          <i class="material-icons">report</i>
          <span>Alert:</span>
          <%= yield %>
        </p>
      </div>
    </div>
  </div>
</div>
