<!-- https://codepen.io/j_holtslander/pen/MzNPbP?css-preprocessor=scss -->
<div class="container">
  <div class="row">
    <div class="alert card blue lighten-4 blue-text text-darken-3">
      <div class="card-content">
        <p>
          <i class="material-icons">info</i>
          <span>Note:</span>

          <!-- https://guides.rubyonrails.org/layouts_and_rendering.html#passing-local-variables -->
          <%= text %>
        </p>
      </div>
    </div>
  </div>
</div>

